@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');

:root {
  --text-color: #000000;
  --text-background-color: #ffffff;
  --border-color: #000000;
}

body{
	/*Basic Font Styling*/
	font-family: 'Roboto Mono', sans-serif;
	font-size:18px;
	color: var(--text-color);
}


.tin {
    display: none;
}

.copper {
    display: none;
}

.b {
    display: inline-block;
    position: relative;
    margin: 1%;
    float: left;
    width: 23%;
    height: 400px;
    background-color: white;
    justify-content: center;
    align-items: center;
}
.button {
    background-color: #ffffff; 
    border: 2px solid black;
    color: rgb(0, 0, 0);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-family: 'Roboto Mono', sans-serif;
	  font-size:18px;
    transition-duration: 0.4s;
    cursor: pointer;
    margin: 0 auto
  }

  .button:hover {
    background-color: black; 
    color: white;
  }