@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');

:root {
  --text-color: #ffffff;
  --text-background-color: #424242;
  --border-color:  #ffffff;
}

body{
	/*Basic Font Styling*/
	font-family: 'Roboto Mono', sans-serif;
	font-size:18px;
	color: var(--text-color);
  background-color: var(--text-background-color);
}


.tin {
    display: none;;
    color: rgb(208, 208, 207)
}

.copper {
    display: none;;
    color: rgb(253, 196, 91)
}

.workers {
  display: none;
}

.worker {
  display: none;
}

.oreincrease{
  display: none;
}

.unassignedworkers{
  display : none;
  font-size: 12px;
}

.assignfarmer{
  display : none;
}

.assignmerchant{
  display : none;
}

.assignsoldier{
  display : none;
}

.spirit {
  display: none;;
  color: rgb(253, 148, 255)
}

.trade {
  display: none;
}

.warfare {
  display: none;
}

.warfaredesc {
  font-size: 12px;
}

.upgrades {
  display: none
}

.grivna {
  display: none;
  color: gold
}

.crops {
  display: none;
  color: rgba(100, 199, 0, 0.907)
}

.trophies {
  display: none;
  color: rgb(234, 154, 125)
}

.bronze {
  display: none;
  color: rgb(216, 165, 14)
}


.b {
    display: inline-block;
    position: relative;
    margin: 1%;
    float: left;
    width: 23%;
    height: 400px;
    justify-content: center;
    align-items: center;
}

.button {
    background-color: var(--text-background-color); 
    border: 2px solid var(--border-color);
    color: var(--text-color);
    padding: 15px 32px; 
    text-align: center;
    text-decoration: none;
    display: block;
    font-family: 'Roboto Mono', sans-serif;
	  font-size:18px;
    transition-duration: 0.4s;
    cursor: pointer;
    margin: 0 auto
  }

.button_cooldown {
    margin: 0 auto;
    background-color: var(--text-background-color); 
    border: 2px solid var(--border-color);
    color: var(--text-color);
    font-family: 'Roboto Mono', sans-serif;
    text-align: center;
    text-decoration: none;
    padding: 15px 32px; 
    font-size: 16px;
    cursor: pointer;
    width: 100%;
  }
.button:hover {
    background-color: var(--text-color); 
    color: var(--text-background-color);
    border: 2px solid var(--text-background-color);
  }

.button_cooldown:hover {
    background-color: var(--text-color); 
    color: var(--text-background-color);
    border: 2px solid var(--text-background-color);
  }

.waaaakeup{
  background-color: blueviolet;
  color: gold;
}

.tradeup{
  background-color: #02aeae; 
}

.warfareup{
  background-color: #d30101; 
}

.agriculture{
  background-color: #3b8714; 
}





@keyframes cooldown {
   0% { width: 100%; }
   100% { width: 0; }
}





#log-container { 
  overflow: hidden;
  height: 300px;
  font-family: 'Roboto Mono', sans-serif;
	font-size: 12px;
	color: var(--text-color); 
}

.interactiveFiction {
  width: 100%;
  height: 100%;
  display: none;
}

.procedural {
  display: block;
}

.future{
  display: none
}

.costcopper{
  border-color: rgb(253, 196, 91);
}

.costcrops{
  border-color: rgba(100, 199, 0, 0.907);
}

.costtin{
  border-color: rgb(208, 208, 207);
}

.costgrivna{
  border-color: gold;
}

.costbronze{
  border-color: rgb(216, 165, 14);
}

.costtrophies{
  border-color: rgb(234, 154, 125);
}
